/* common styles */
body {
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: white;
  padding: 15px 35px;
  cursor: pointer;
}
/* nav starts here */
.btn-contact {
  margin-left: 17px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: #fd6e0a;
  padding: 15px 35px;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.one-color {
  color: #fd6e0a;
}
.text-primary {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* header */
.header {
  background-color: #fff8f3;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-picture {
  width: 500px;
}
